.gridcontainer{
    display: grid;
    grid-template-columns: auto auto  auto;
    column-gap:0cm;
    background-color: #FFF6E9;
    margin-top: 15px;
    padding: 15px;
   border-radius: 10px;
    
}
.tag{
    align-items: center;
    font-size: 100px;;
}
.image{
    width: 100%;
    height: auto;
    border-color: azure ;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    
}
.btn{
font-family: lato,sans-serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #554e4e;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  position: relative;
  color: 3px solid #eec5c5;
  border-radius: 20px;
   
}


.firfir,.beyaynet,.pastasigo,.shiro,.batkilt,.timatimsils{
    width: 350px;
    height: 300px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border:solid #40A2E3 3px;
    
}
.foodbtn{
    font-family: lato,sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #554e4e;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    color: 3px solid #FFF6E9;
    border-radius: 20px;
    pad: 2px;

}

.pastasigo{
    width: 350px;
    height: 300px;
}
.fa fa-shopping-cart{
    border-color: rgb(247, 126, 126);
}
.fooddiv1,.fooddiv2,.fooddiv3,.fooddiv4,.fooddiv5,.fooddiv6{
    width: 355px;
    height: 390px;
    border: #C7DCA7 2px solid;
    background-color: #C7DCA7;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 100px;
}
.header{
    background-color: #FFC5C5;
    padding-left: 70%;
    width: 100%;
    position: fixed;
    top: 0;
    border-radius: 10px;
    display: grid;
    align-items: right;
    justify-content: space-between;
    height: 80px;
   
  

}
.link{
   margin: 10px;
  
    
}
.name{
    display: inline;
    padding: 5px;
    text-decoration: none;
    margin-top: 15px;
    background-image: url(Untitleddesign.png);
    margin-top: 15px;
    border-radius: 10px;
    
}
a:link {
    text-decoration:none;
    margin-top: 15px;
    

}